USE [master]
GO
/****** Object:  Database [CurrencyExchange]    Script Date: 19-11-2022 10:55:15 PM ******/
CREATE DATABASE [CurrencyExchange]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurrencyExchange', FILENAME = N'C:\DB\SampleProject\CurrencyExchange.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CurrencyExchange_log', FILENAME = N'C:\DB\SampleProject\CurrencyExchange_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurrencyExchange].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurrencyExchange]
GO
/****** Object:  Table [dbo].[CurrencyExchangeRates]    Script Date: 19-11-2022 10:55:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyExchangeRates](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CurrencyID] [numeric](18, 0) NULL,
	[CurrencyDate] [date] NULL,
	[CurrencyRate] [numeric](18, 6) NULL,
 CONSTRAINT [PK_CurrencyExchangeRates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrencyTable]    Script Date: 19-11-2022 10:55:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyTable](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CurrencyName] [varchar](50) NULL,
 CONSTRAINT [PK_CurrencyTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CurrencyExchangeRates] ON 

INSERT [dbo].[CurrencyExchangeRates] ([ID], [CurrencyID], [CurrencyDate], [CurrencyRate]) VALUES (CAST(93 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), CAST(N'2022-11-16' AS Date), CAST(3.802479 AS Numeric(18, 6)))
INSERT [dbo].[CurrencyExchangeRates] ([ID], [CurrencyID], [CurrencyDate], [CurrencyRate]) VALUES (CAST(94 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), CAST(N'2022-11-16' AS Date), CAST(92.222660 AS Numeric(18, 6)))
INSERT [dbo].[CurrencyExchangeRates] ([ID], [CurrencyID], [CurrencyDate], [CurrencyRate]) VALUES (CAST(95 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), CAST(N'2022-11-16' AS Date), CAST(117.114477 AS Numeric(18, 6)))
GO
SET IDENTITY_INSERT [dbo].[CurrencyExchangeRates] OFF
SET IDENTITY_INSERT [dbo].[CurrencyTable] ON 

INSERT [dbo].[CurrencyTable] ([ID], [CurrencyName]) VALUES (CAST(1 AS Numeric(18, 0)), N'AED')
INSERT [dbo].[CurrencyTable] ([ID], [CurrencyName]) VALUES (CAST(2 AS Numeric(18, 0)), N'AFN')
INSERT [dbo].[CurrencyTable] ([ID], [CurrencyName]) VALUES (CAST(3 AS Numeric(18, 0)), N'ALL')
GO
SET IDENTITY_INSERT [dbo].[CurrencyTable] OFF
ALTER TABLE [dbo].[CurrencyExchangeRates]  WITH CHECK ADD  CONSTRAINT [FK_CurrencyExchangeRates_CurrencyTable] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[CurrencyTable] ([ID])
GO
ALTER TABLE [dbo].[CurrencyExchangeRates] CHECK CONSTRAINT [FK_CurrencyExchangeRates_CurrencyTable]
GO
USE [master]
GO
